.paraone {
    text-align: center;
}
.imageone {

}
.containertop {
    margin-top: 10px;
}
.navname {
    color: teal !important; 
    margin-left: 10.5%;
}
.navcolor {
    color: white !important;
}
.navboot {
    margin-left: 10px;
}
.navsearch {
    margin-right: 12%;
}